<!-- EVENT overall_footer_content_after -->

	</div> <!-- page-body id in header -->
  </div> <!-- content-forum in header -->
 </div> <!-- container in header -->

<!-- EVENT overall_footer_page_body_after -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT and s_on_index -->
    <!-- INCLUDE addons/sitesplat_login_body.html -->
<!-- ENDIF -->

	<section class="section-page">
        <div id="rtblock" class="container">
            <!-- IF .fltl --><!-- EVENT fltl --><!-- ELSE --><!-- INCLUDE addons/recent_topics_body.html --><!-- ENDIF -->
        </div>
    </section>

<!-- EVENT call_to_action_before -->	
  <!-- IF FLATBOOTS_MINI_CMS_ENABLED -->
     <!-- EVENT call_to_action_body_instead -->
  <!-- ELSE --> 
	<!-- INCLUDE addons/call_to_action_body.html -->
  <!-- ENDIF -->
<!-- EVENT call_to_action_after -->  
	
	<!-- IF FLATBOOTS_MINI_CMS_ENABLED -->
		<!-- EVENT prefooter_instead -->
	<!-- ELSE -->
	<div class="footer-block new-customize-wellnessherbs">
		<div class="container">
			<div class="footer-list-block">
				<div class="row">
					<div class="col-md-4">
						<a href="https://www.wellnessherbs.com/" class="footer-logo">
							<img src="{ROOT_PATH}images/heavenly-logo-dark.svg" src="{UPLOAD_ICON_SRC}" id="image_upload_icon" alt="" title="" class="img-responsive" />
						</a>
						<p class="footer-about-info">Our mission is to have people embrace a more holistic way to complete family
							wellness.</p>
						<div class="social-link">
							<ul class="social-list list-inline">
								<li><a href="https://facebook.com/hherbals/posts" target="_blank" class="facebook"><i
											class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/hherbals" target="_blank" class="twitter"><i class="fa fa-twitter"
											aria-hidden="true"></i></a></li>
								<li><a href="https://www.linkedin.com/company/wellnessherbs/" target="_blank" class="linkedin"><i
											class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/heavenlyherbalsinc/" target="_blank" class="instagram"><i
											class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="//www.youtube.com/channel/UCcluXZp-O17fX5q0sJqNX_w" target="_blank" class="youtube"><i
											class="fa fa-youtube" aria-hidden="true"></i></a></li>
								<li><a href="//www.pinterest.com/heavenlyherbals" target="_blank" class="pinterest"><i
											class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
	
					<div class="col-md-2 col-sm-4">
						<div class="footer-list">
							<h3 class="ftr-list-hdr about-us">Information <span class="footer-list-dropdown"><i
										class="fa fa-plus"></i></span></h3>
							<ul class="list-unstyled footer-links about customer-service" id="">
								<li><a href="https://www.wellnessherbs.com/contact-us">Contact Us</a></li>
								<li><a href="https://www.wellnessherbs.com/disclaimer">Disclaimer</a></li>
								<li><a href="https://www.wellnessherbs.com/ordering-and-shipping">Ordering &amp; Shipping</a></li>
								<li><a href="https://www.wellnessherbs.com/our-guarantee">Our Guarantee</a></li>
								<li><a href="https://www.wellnessherbs.com/our-products">Our Products</a></li>
								<li><a href="https://www.wellnessherbs.com/who-we-are">Who we are</a></li>
							</ul>
						</div>
					</div>
	
					<div class="col-md-2 col-sm-4">
						<div class="footer-list">
							<h3 class="ftr-list-hdr">Account <span class="footer-list-dropdown"><i class="fa fa-plus"></i></span></h3>
							<ul class="list-unstyled footer-links customer-service">
								<li><a href="https://forum.wellnessherbs.com/ucp.php?mode=login&redirect=ucp.php%3Fmode%3Dregister">Account</a></li>
								<li><a href="https://www.wellnessherbs.com/contact-us">Ask our experts</a></li>
								<li><a href="https://affiliate.wellnessherbs.com/">Become an Affiliate</a></li>
	
	
	
								<!-- <li><a href="https://www.wellnessherbs.com/index.php?route=kbgiftcard/kbgiftcard">Gift Card</a></li> -->
	
	
								<li><a href="https://www.wellnessherbs.com/privacy">Privacy &amp; Security</a></li>
								<li><a href="https://www.wellnessherbs.com/return-add">Returns</a></li>
								<li><a href="https://www.wellnessherbs.com/site-map">Site Map</a></li>
							</ul>
						</div>
					</div>
	
					<div class="col-md-4 col-sm-4">
						<div class="footer-list">
							<h3 class="ftr-list-hdr">Contact Info <span class="footer-list-dropdown"><i class="fa fa-plus"></i></span>
							</h3>
							<div class="customer-service">
								<ul class="list-unstyled footer-links ">
									<li>Address: 1069 Main St, Suite 337<br>
										Holbrook, NY 11741<br>
										U.S.A</li>
									<li>Phone: <a href="tel:1.516.514.3536">1.516.514.3536</a></li>
									<li>Fax: 1.631.542.7664</li>
									<li>Email: <a href="mailto:sales@heavenlyherbalsinc.com">sales@heavenlyherbalsinc.com</a></li>
								</ul>
								
								<ul class="payment-list list-inline ">
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/ep/catalog/view/theme/howashafi/image/images/paypel.webp"
												alt="Paypel" width="50" height="32"></a></li>
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/ep/catalog/view/theme/howashafi/image/images/mscaed.webp"
												alt="Mscaed" width="51" height="33"></a></li>
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/ep/catalog/view/theme/howashafi/image/images/visa.webp"
												alt="Visa" width="50" height="31"></a></li>
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/ep/catalog/view/theme/howashafi/image/images/amaricam.webp"
												alt="Amaricam" width="50" height="31"></a></li>
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/ep/catalog/view/theme/howashafi/image/images/discover.webp"
												alt="Discover" width="50" height="33"></a></li>
								</ul>
								<!-- <ul class="payment-list store-logo list-inline ">
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/lp/store-logo/bonanza-logo.webp" alt="Paypel"
												width="60" height="60"></a></li>
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/lp/store-logo/etsy-logo.webp" alt="Mscaed"
												width="60" height="60"></a></li>
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/lp/store-logo/ebay-logo.webp" alt="Visa"
												width="60" height="60"></a></li>
									<li><a href="javascript:void(0);"><img loading="lazy"
												src="https://www.wellnessherbs.com/image/cache/wp/lp/store-logo/amazon-logo.webp" alt="Amaricam"
												width="60" height="60"></a></li>
								</ul> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="copyright">
			<div class="container">
				<div class="footer-bottom text-center">
					<p class="footer-btm-hdr-text">Heavenly Herbals, Inc. provides these articles for information only. They are not
						approved or recommended by us, do not provide medical advice,diagnosis, or treatment, and are not meant to
						replace professional medical advice or apply to any products. The information provided on this site is
						intended for your general knowledge only and is not a substitute for professional medical advice or treatment
						for specific medical conditions.</p>
					<p class="footer-btm-hdr-text text-center">**These statements have not been, evaluated by the Food and Drug
						Administration. These products are not intended to diagnose, treat, cure or prevent any disease. <a
							href="https://www.wellnessherbs.com/disclaimer">Read more</a></p>
				</div>
	
				<div class="copyright-inner">
					<p class="copyright-text">© 2010-2022 <a href="https://www.wellnessherbs.com/" title="Heavenly Herbals, Inc.">Heavenly Herbals, Inc.</a> All
						Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ENDIF -->

<a id="totop" class="top-flat" href="" onclick="return false;" style="display:none;" aria-label="to-top"></a>

<div class="hidden"><!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF --></div> 

<!-- injected via core and ajax JS for the return confirmation actions -->
   <div id="page-footer">
	<div id="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="alert alert-default phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<button type="button" class="close alert_close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
		<h3 class="alert_title">&nbsp;</h3>
		 <p class="alert_text"></p>
	</div>
	
	<div id="phpbb_confirm" class="alert alert-default phpbb_alert">
		<button type="button" class="close alert_close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
		<div class="alert_text"></div>
	</div>
  </div>	
<!-- injected via core and ajax JS for the return confirmation actions -->

<!-- IF S_USER_LOGGED_IN and (SCRIPT_NAME == "viewforum" or SCRIPT_NAME == "viewtopic") -->
	<div class="modal fade" id="BreadcrumbMap" tabindex="-1" role="dialog" aria-labelledby="BreadcrumbsLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="awe-remove-circle"></span></button>
			<h4 class="modal-title" id="BreadcrumbsLabel">{L_NAVIGATION}</h4>
		  </div>
		  <div class="modal-body file-tree">
		   <ul>
			<li class="root"><a href="{U_INDEX}">{L_INDEX}</a></li>
			<!-- BEGIN navlinks -->
			{% set NAVLINK_NAME = navlinks.BREADCRUMB_NAME | default(navlinks.FORUM_NAME) %}
		    {% set NAVLINK_LINK = navlinks.U_BREADCRUMB | default(navlinks.U_VIEW_FORUM) %}
				<li><a href="{{ NAVLINK_LINK }}">{{ NAVLINK_NAME }}</a></li>
			<!-- END navlinks -->
		   </ul>
		    <i class="icon-compass fa fa-compass"></i>
		  </div>
		  <div class="modal-footer">
		  </div>
		</div>
	  </div>
	</div>
<!-- ENDIF -->

<!-- EVENT ss_overall_footer_scripts_before -->

<script>
// this loads jquery asynchronously & in parallel
head.load("{T_THEME_PATH}/vendors/jquery-1.12.4.min.js", "{T_THEME_PATH}/vendors/bootstrap/336/js/bootstrap.min.js", "{T_THEME_PATH}/vendors/forum_fn.min.js");
</script>

<!-- we use this event to load the JS scripts properly via the extension system -->
<!-- EVENT overall_footer_after -->

<!-- injected via a module or an include -->
<script>
// some function that depends on bootstrap and jquery
head.ready(function () {
	$('.footable').footable();$(".selectpicker").selectpicker();$(".selectpicker").tooltip("disable");var totop=$("#totop");totop.click(function(){$("html, body").stop(true,true).animate({scrollTop:0},500);return false});$(window).scroll(function(){if($(this).scrollTop()>600){totop.fadeIn()}else{totop.fadeOut()}});$("button[data-loading-text], input[data-loading-text], .btn-load").click(function(){var e=$(this);e.button("loading");setTimeout(function(){e.button("reset")},3e3)});
	$("input").iCheck({checkboxClass:"icheckbox_flat-aero",radioClass:"iradio_flat-aero"});$(".btn-search").click(function(){$(".search-input").toggleClass("open").find("input").focus()});$(".close").click(function(){$(this).prev("input").val("").parents(".search-input").removeClass("open")});$(".nav-tog").click(function(){if($(this).hasClass("neutro")){$(this).removeClass("neutro").addClass("open")}else{$(this).removeClass("open").addClass("neutro")}});
	$('input[data-reset-on-edit]').on('keyup', function() {$(this.getAttribute('data-reset-on-edit')).val('');});
	$('a').tooltip({trigger : 'hover',container: 'body'})
    $('#notification_list_button').click(function(){setTimeout(function(){$(".nano").nanoScroller();},0);});	
});
<!-- IF PROVIDER_TEMPLATE_FILE -->
head.ready(function(){!function(n){n(".oauth-content ul > li").each(function(){var i=n(this).find("a").text();n(this).find("a").prepend('<i class="'+i+'"></i>')})}(jQuery)});
<!-- ENDIF -->
// some function that depends on bootstrap and jquery
<!-- IF not HIDE_FOOTER -->
head.load("{T_THEME_PATH}/vendors/twitterFetcher.min.js");
head.ready("twitterFetcher.min.js",function(e){var e={profile:{screenName:"<!-- IF FLATBOOTS_MINI_CMS_ENABLED -->{TWITTER_SCREEN_NAME}<!-- ELSE -->sitesplat<!-- ENDIF -->"},domId:"twitter-feed",maxTweets:1,showUser:!1,useEmoji:1,showImages:!0,enableLinks:!0};twitterFetcher.fetch(e)});
<!-- ENDIF -->
<!-- IF S_RECAPTCHA_AVAILABLE -->
head.load("{T_THEME_PATH}/vendors/inv-recaptcha.js");
<!-- ENDIF -->
</script>

<!-- injected via a module or an include -->

{$SCRIPTS}

<!-- IF S_PLUPLOAD -->
<!-- INCLUDE plupload.html -->
<!-- ENDIF -->

<!-- EVENT overall_footer_body_after -->

<!-- Google Analytics here -->
{GOOGLE_ANALYTICS}

<script>
var coll = document.getElementsByClassName("footer-list-dropdown");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			this.classList.toggle("active");
			if (this.parentElement.parentElement.classList.contains('collapsed')) {
				for (var j = 0; j < this.childNodes.length; j++) {
					if (this.childNodes[j].className && this.childNodes[j].className.indexOf("fa-minus") != -1) {
						this.childNodes[j].classList.remove('fa-minus')
						this.childNodes[j].classList.add('fa-plus')
						break;
					}
				}
				this.parentElement.parentElement.classList.remove('collapsed')
			} else {
				this.parentElement.parentElement.classList.add('collapsed')
				for (var j = 0; j < this.childNodes.length; j++) {
					if (this.childNodes[j].className && this.childNodes[j].className.indexOf("fa-plus") != -1) {
						this.childNodes[j].classList.remove('fa-plus')
						this.childNodes[j].classList.add('fa-minus')
						break;
					}
				}
			}
			var content;
			console.log(this.parentElement.parentElement.childNodes)
			for (var j = 0; j < this.parentElement.parentElement.childNodes.length; j++) {
				if (this.parentElement.parentElement.childNodes[j].className && this.parentElement.parentElement.childNodes[j].className.indexOf("customer-service") != -1) {
					content = this.parentElement.parentElement.childNodes[j];
					break;
				}
			}
			// if (!content) continue;
			if (content.style.maxHeight) {
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			}
		});
	}
</script>
</body>
</html>