<div class="flat-header">
<div class="masthead"></div>
    <div class="wrapper-head">
	 		<div class="container">
				<div class="col-md-7 col-sm-7 col-xs-6">
					<!-- IF TEASER_TITLE neq '' or TEASER_TEXT neq '' -->
					<h1>Homeopathy changes lives. Heavenly Herbals Incorporation empowers homeopathy worldwide.</h1>
					<p>Our mission is to inspire more people to embrace a natural approach to complete wellness.</p>
					<!-- ELSE -->
					<h1>Homeopathy changes lives. Heavenly Herbals Incorporation empowers homeopathy worldwide.</a></h1>
					<p>Our mission is to inspire more people to embrace a natural approach to complete wellness.</p>
					<!-- ENDIF -->
				</div>
				<div class="col-md-5 col-sm-5 col-xs-6">
					<img src="{ROOT_PATH}images/banner.svg"
						alt="Heavenly Herbals | Organic Herbal Supplements for Complete Wellness" style="width: 100%;">
				</div>
    	</div>
	</div>
</div>